<p>Submit to JS.</p>
<center>
    <form action="/page.php" onsubmit="myFunction()">
    Enter Username: <input type="text" name="" id=""><br><br><br>
    Enter Password: <input type="password" name="" id=""><br><br><br>
    <button type="submit">Submit</button></form>
    <script type="text/javascript">
    function myFunction(){
        alert('Form Submitted.')
    }</script>
</center>